*{
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

.Conteudo{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #b92387, #dfb21e);
    padding: 10px;
}

.TagInicial{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 7px;
}

.TagInicial h2{
    color: #b92387;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.TagInicial img{
width: 70px;
margin-left: 10px;
}

.Itens{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ec60be79;
    border-radius: 30px;
    padding-left:20px;
    margin-bottom: 25px;
}

.Itens input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

#btnAddItem{
    width: 0;
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ec60bd6b;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}