*{
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #b92387, #dfb21e);
    padding: 10px;
}

.TagInicial{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 7px;
}

.TagInicial h2{
    color: #b92387;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.TagInicial img{
    width: 70px;
    margin-left: 10px;
    cursor: pointer;
}

.TagInput{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ec60be79;
    border-radius: 10px;
    padding-left:20px;
    margin-bottom: 25px;
}

.TagInput input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

#btnAddItem{
    width: 33px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #ec60bd6b;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(../imgs/oval.png);
    background-size: cover;
    background-position: center;
    top: 18px;
    left: 8px;
}
ul li.checked{
    color: #b92387;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(../imgs/check.png);

}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: #dfb21e;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #ec60bd6b;
}